# Regresion Logistica con Keras para predecir si alguien puede entrar a la Universidad

Utilizando el dataset de mi trabajo anterior, el cual me proporcionaba los datos necesarios, podre predecir si alguien entraria a la universidad utilizando keras

### importaciones

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
import matplotlib.pyplot as plt

### Cargaos del dataset

In [21]:
df = pd.read_csv('adm_data.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

### Convertimos los datos

In [22]:
df['Admitted'] = (df['Chance of Admit '] > 0.75).astype(int)

### Seleccionamos las filas

In [12]:
X = df[['GRE Score', 'CGPA']].values
y = df['Admitted'].values

### escalamos los datos

In [13]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

### Divide en entrenamiento y prueba

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

### Crear el modelo con keras

In [23]:
model = Sequential()
model.add(Dense(1, activation='sigmoid', input_shape=(2,)))  # 2 features

model.compile(optimizer=Adam(learning_rate=0.01), loss='binary_crossentropy', metrics=['accuracy'])

c:\Users\IPF-2025\Desktop\IPF_1er_cuatri\TLP3_Python\keras_Adm\keras_env\lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Entrenar el modelo

In [24]:
history = model.fit(X_train, y_train, epochs=100, batch_size=16, verbose=0, validation_data=(X_test, y_test))

### Evalua la precision

In [25]:
loss, acc = model.evaluate(X_test, y_test)
print(f'Precisión en test: {acc:.4f}')

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.8516 - loss: 0.4101
Precisión en test: 0.8750

### Prediccion

In [26]:
predictions = model.predict(X_test)
predicted_classes = (predictions > 0.6).astype(int)
print(f'Predicciones: {predicted_classes.flatten()}')

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Predicciones: [1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 0 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1
 0 1 1 0 1 1]